<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>authorize</title>
</head>
<body>
<form action="/authorize" method="post" onsubmit='encrypt()'>
    <input type="number" name="time" placeholder="输入数字（授权天数）"><br>
    <select name="scope">
        <option value="r">只读</option>
        <option value="rw">读写</option>
    </select><br>
    <label><input type="radio" name="accept" value="">同意授权</label>
    <input type="text" name="client_id" value="{{client_id}}" style="display:none">
    <input type="text" name="redirect_uri" value="{{redirect_uri}}" style="display:none">
    <br>
    <input type="submit">
</form>
</body>
</html>